*{
	padding: 0;
	margin: 0;
}

#main{
	height: 1340px;
	width: 90%;
	border: 5px ridge green;
	margin: 0 auto;
	margin-top: 40px;	
}

#header{
	margin: 0 auto;
	height: 250px;
	width: 90%;
	border: 5px ridge red;
	display: flex;
	margin-top: 10px;
}

#content{
	margin: 0 auto;
	height: 100px;
	width:90%;
	border: 5px ridge red;
	justify-content: space-evenly;
	margin-top: 25px;
	display: flex;
}

#center {
	margin: 0 auto;
	width: 90%;
	height: 550px;
	border: 5px ridge red;
	margin-top: 25px;
	display: flex;
}

#footer{
	margin: 0 auto;
	width: 90%;
	height: 300px;
	border: 5px ridge red;
	margin-top: 25px;
	display: flex;
}

.sub_left{
	width: 30%;
	height: 200px;
	border: 5px ridge blue;
	margin-top: 25px;
	margin-left: 10px;
}

.sub_center{
	width: 40%;
	height: 200px;
	border: 5px ridge blue;
	margin-top: 25px;
	margin-left: 10px;
}

.sub_right{
	width: 30%;
	height: 200px;
	border: 5px ridge blue;
	margin-top: 25px;
	margin-right: 10px;
	margin-left: 10px;
}

.sub_div_1{
	margin: 0 auto;
	width: 90%;
	height: 85px;
	border: 5px ridge orange;
	margin-top: 10px;
}

.sub_div_2{
	margin: 0 auto;
	width: 90%;
	height: 70px;
	border: 5px ridge orange;
	margin-top: 10px;
}

.block1{
	width: 21%;
	height: 50px;
	border: 5px ridge blue;
	margin-top: 25px;
	display: flex;
}
.block2{
	width: 21%;
	height: 50px;
	border: 5px ridge blue;
	display: flex;
	margin-top: 25px;
	
}
.block3{
	width: 21%;
	height: 50px;
	border: 5px ridge blue;
	display: flex;
	margin-top: 25px;
}
.block4{
	width: 21%;
	height: 50px;
	border: 5px ridge blue;
	display: flex;
	margin-top: 25px;
	
}

.color1{
	border: 5px ridge blue;
	width: 25%;
	height: 500px;
	margin-top: 25px;
	margin-left: 10px;

	
}
.color2{
	width: 270%;
	height: 500px;
	border: 5px ridge blue;
	justify-content: center;
	margin-left: 110%;
	margin-top: -5px ;
	
}
.color3{
	width: 90%;
	height: 350px;
	border: 5px ridge orange;
	margin: 0 auto;
	margin-top: 25px;
	display: flex;
}
.color4{
	width: 90%;
	height: 90px;
	border: 5px ridge orange;
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
}

.content1{
	width: 30%;
	height: 200px;
	border: 5px ridge blue;
	margin-top: 25px;
	margin-left: 10px;
}
.content2{
	width: 40%;
	height: 200px;
	border: 5px ridge blue;
	margin-top: 25px;
	margin-left: 10px;
}
.content3{
	width: 30%;
	height: 200px;
	border: 5px ridge blue;
	margin-top: 25px;
	margin-right: 10px;
	margin-left: 10px;
}

.content4{
	width: 30%;
	height: 200px;
	border: 5px ridge blue;
	margin-top: 25px;
	margin-right: 10px;
}

.content5{
	margin: 0 auto;
	width: 90%;
	height: 90px;
	border: 5px ridge orange;
	margin-top: 10px;
}
.content6{
	margin: 0 auto;
	width: 90%;
	height: 65px;
	border: 5px ridge orange;
	margin-top: 10px;
	
}